/* crimson-text serif */
/* monserrat sans-serif */
/* iosevka-charon monospace */
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Iosevka+Charon:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import 'tailwindcss';

@theme {
  --font-serif: "Crimson Text", "serif";
  --font-sans: "PT Sans", "sans-serif";
  --font-mono: "Iosevka Charon", "monospace";
  --breakpoint-3xl: 120rem;
  /* ... */
}

@layer base {

  table {
    display: none;
  }

  table,
  tr,
  td {
    @apply border;
  }

  /* table, */
  /* figure { */
  /*   @apply hidden; */
  /* } */
  /**/

  section,
  div {
    @apply snap-center;
  }

  .figure>figure {
    @apply flex flex-col gap-4;
    @apply items-center;
    @apply justify-center;
  }

  ::-moz-selection {
    /* Code for Firefox */
    @apply bg-blue-500;
    @apply text-white;
  }

  ::selection {
    @apply bg-blue-500;
    @apply text-white;
  }

  a {
    @apply text-blue-800;
  }

  p {
    @apply snap-center;
    @apply font-serif;
    @apply text-justify;
    @apply text-xl;
    @apply mb-4;
    @apply hyphens-auto;
  }

  /* section:has(h1, h2, h3, h4, h5, h6) { */
  /*   color: red; */
  /*   flex: 0 0 100%; */
  /*   column-width: 100vw; */
  /*   @apply h-full; */
  /* } */
  /**/
  /**/
  h1 {
    @apply text-3xl;
    @apply font-bold;
  }

  h2 {
    @apply text-2xl;
    @apply font-semibold;
  }

  h3 {
    @apply text-xl;
    @apply font-semibold;
  }

  h4 {
    @apply text-lg;
    @apply uppercase;
    @apply font-semibold;
  }

  h5 {
    @apply text-base;
    @apply uppercase;
    @apply font-semibold;
  }

  h6 {
    @apply text-sm;
    @apply uppercase;
    @apply font-semibold;
  }
}
